{% extends "portfolio_app1/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<style type="text/css">
    #div_id_tags > div{
        font-size: small;
        overflow-y: scroll;
        max-height: 60px;
        border-radius: 5px;
        padding: 5px;
    }
</style>
<style>
    .tag {
        display: inline-block;
        color: #fff;
        background-color: rgb(107, 106, 106);
        border-radius: 5px;
        margin: 2px;
        padding: 2px 5px;
    }


    .project-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, 320px);
        gap: 20px;
        justify-content: center;
        padding-bottom: 50px;
    }

    .tags-wrapper {
        gap: 20px;
        justify-self: center;
        grid-template-columns: repeat(auto-fit, 320px);
        column-gap: 10px;
        row-gap: 15px
    }

    .tag-size {
        font-size: 8;

    }

    .project {
        border: 1px solid var(--borderColor);
        -webkit-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
        box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
    }

    .child {
        top: 20%;
        left: 50%;
        right: 20%;
        margin: 20px;
        max-width: 500px;
    }

</style>
<div>
    <h1 class="text-center">Projects</h1>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="GET">
                    {{my_filter.form|crispy}}
                    <input class="btn btn-primary mt-3" type="submit" value="search">
                </form>
            </div>
            <div class="col">
                <div class="col">
                    {% if request.user.is_staff %}
                    <a class="btn btn-warning" href="{% url 'create_project' %}">Create Project</a>
                    {% endif %}
                </div>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
    <br>
    <div class="project-wrapper">

        {% for project in projects %}
        <div>
            <div class="project">
                <div class="card shadow-sm">
                    <img src="{{ project.thumbnail.url }}" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">{{project.headline}}</h5>
                        {% if project.sub_headline %}
                            <p class="card-text">{{project.sub_headline}}</p>
                        {% endif %}
                        <a href="{% url 'project' project.slug %}">Read more</a>
                        {% if request.user.is_authenticated %}
                            | <a href="{% url 'update_project' project.slug %}">Edit</a>
                            | <a href="{% url 'delete_project' project.slug %}">Delete</a>
                        {% endif %}

                        <hr>
                        <div class="tags-wrapper">
                            {% for tag in project.tags.all %}
                                <div class="tag">
                                    <h6><span class="tag-size">{{tag}}</span></h6>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% empty %}
                <h3>No projects found...</h3>
        {% endfor %}
    </div>

	<div>
		
		{% if projects.has_other_pages %}

			<ul class="pagination">

				{% if projects.has_previous %}
					<li class="page-item"><a data-page="{{projects.previous_page_number}}" href="?page={{projects.previous_page_number}}" class="page-link">&laquo</a></li>

					<li class="page-item"><a data-page="1" href="?page=1" class="page-link">First</a></li>
				{% endif %}


				{% for i in projects.paginator.page_range %}
					{% if projects.number == i %}
						<li class="page-item"><a class="active page-link">{{i}}</a></li>
					{% else %}
						<li class="page-item"><a data-page="{{i}}" href="?page={{i}}" class="page-link">{{i}}</a></li>
					{% endif %}
					
				{% endfor %}


				{% if projects.has_next %}
					<li class="page-item"><a data-page="{{projects.paginator.num_pages}}" href="?page={{projects.paginator.num_pages}}" class="page-link">Last</a></li>

					<li class="page-item"><a data-page="{{projects.next_page_number}}" href="?page={{projects.next_page_number}}" class="page-link">&raquo</a></li>
				{% endif %}
			</ul>

		{% endif %}
	</div>
</div>


{% endblock content %}